URL Shortener loyihasi

Maqsadi: Foydalanuvchi kiritgan uzun URL qiymatini, tushunarli bo'lgan qisqa
URL ga almashtirish.

Asosiy modellar:

    Users(foydalanuvchilar):
        name
        email
        password

    URL:
        originalUrl
        code
        userId
        createdAt
        viewersCount -> 0

Talablar: 

    Funksional talablar:
        Foydalanuvchi name, email va password orqali ro'yhatdan o'tishi kerak.
        Foydalanuvchi email va password orqali profilga kirishi kerak.
        Foydalanuvchi name, email va password ma'lumotlarini yangilay olishi kerak.
        Foydalanuvchi o'z profilidan chiqib(logout) boshqa profilga kira olishi kerak.
        Foydalanuvchi URL'ni qisqartira olishi kerak.
        Foydalanuvchi qisqartirgan URL'larini ko'rishi va ulardan necha marta foydalanganligini ko'rishi kerak